#form {
    display: none;
    text-align: center;
    background-color: aquamarine;
    width: 350px;
    height: 100%;
    border-radius: 10px;
    border: 3px solid gray;
}


#form-container {
    background-color: brown;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.form-input {
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    font-size: x-large;
}

.btn {
    padding: 10px 15px 10px 15px;
    border: 1px solid gray;
    background-color: blue;
    color: whitesmoke;
    border-radius: 8px;
    font-size: x-large;

}

.checkbox {
    font-size: x-large;
}

.checkbox-size {
    width: 20px;
    height: 20px;
}


.new-btn-container {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#library-container {
    height: 900px;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
}

.book {
    color: black;
    background-color: beige;
    width: 250px;
    height: 270px;
    margin: 20px 10px 20px 10px;
    padding: 15px 10px 5px 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 5px gray;
    border: 1px solid black;
}

.tile-container {
    font-size: large;
    padding: 10px 0px 10px 0px;
}

.book-btn {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    margin: 0px 10px 0px 10px;
    font-size: large;
}

.read-box {
    height: 30px;
    width: 100%;
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.read-status {
    align-self: left;
}